@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');

.navbar-brand {
    font-family: "Playfair Display", serif;
    font-weight: 400;
  font-style: normal;
  color: #ffffff; /* Orange color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.custom-link {
  color: hwb(169 4% 39%); /* Choose your desired color */
  text-decoration: none;
  font-size: 18px; /* Increase the font size here */
  font-weight: bold;
}

.custom-link:hover {
  color: #0c895d; /* Darker color on hover */
  text-decoration: underline;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.background {
  background-image: url('../assets/dHome.jpg'); /* Path to the background image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
  background-position: center; /* Centers the image */
  min-height: 100vh; /* Ensures it covers the viewport height */
  display: flex; /* Flexbox to center content if needed */
  flex-direction: column; /* Content flows vertically */
}

/* Navbar with Gradient and Transparency */
.navbar {
  background: linear-gradient(90deg, rgba(84, 73, 70, 0.8), rgba(255, 153, 0, 0.26)); /* Gradient with transparency */
  border-bottom: 2px solid rgba(133, 117, 94, 0); /* Subtle bottom border */
  backdrop-filter: blur(8px); /* Adds a blur effect for a frosted glass look */
}

.navbar-brand {
  font-weight: bold;
  font-size: 36px;
}

.btn-outline-success {
  margin-left: 10px;
  color: #ffffff; /* Text color */
  background-color: #ff5722; /* Background color */
  border-color: #ff5722; /* Border color */
  transition: all 0.3s ease; /* Smooth transition */
}

.btn-outline-success:hover {
  color: #ff5722; /* Text color on hover */
  background-color: #ffffff; /* Background color on hover */
  border-color: #ff5722; /* Border color on hover */
}

/* Login Icon instead of button */
.login-icon {
  color: #ffffff;
  font-size: 24px;
  transition: all 0.3s ease; /* Smooth transition */
}

.login-icon:hover {
  color: #ff5722; /* Color change on hover */
}

/* Footer with Gradient and Transparency */
.footer-custom {
  background: linear-gradient(90deg, rgba(255, 153, 0, 0.26), rgba(84, 73, 70, 0.8)); /* Gradient with transparency */
  color: #ffffff;
  backdrop-filter: blur(8px); /* Adds a blur effect for a frosted glass look */
}

/* About Button without Box */
.about-btn {
  color: #ffffff; /* White text */
  background-color: #6c757d00; /* Grey background */
  border: none; /* Remove the border */
  transition: all 0.3s ease; /* Smooth transition */
}

.about-btn:hover {
  color: #ffffff; /* Grey text on hover */
  background-color: #00000044; /* White background on hover */
  border: none; /* Remove border on hover */
}
