<div class="background">
 
  <div class="navbar">
      <div class="logo">
          Admin Dashboard
      </div>
      <div class="nav-links">
          <a href="agency" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;">Agencies</a>
          <a href="bus" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;" >Buses</a>
          <a href="admin-customer" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;">Customers</a>
          <a href="drivers" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;">Drivers</a>
          <a href="payments" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;">Payment</a>
          <a href="reviews" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;">Reviews</a>
          <a href="routes" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;">Routes</a>
          <a href="#trips" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;">Trips</a>
      <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
  </div>
  <div class="content-container">
 
    <!-- Trips Table -->
    <div class="content">
      <h2 style="text-align: center;">Manage Trips</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Available Seats</th>
            <th>Arrival Time</th>
            <th>Departure Time</th>
            <th>Fare</th>
            <th>Boarding Address ID</th>
            <th>Dropping Address ID</th>
            <th>Trip Date</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of trip">
                <td>{{ t.id }}</td>
                <td>{{ t.availableSeats }}</td>
                <td>{{ t.arrivalTime }}</td>
                <td>{{ t.departureTime }}</td>
                <td>{{ t.fare }}</td>
                <td>{{ t.boardingAddressId }}</td>
                <td>{{ t.droppingAddressId }}</td>
                <td>{{ t.tripDate }}</td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
 
    
  <script>
    function logout() {
        location.href = '/';
    }
</script>