.background{
  background-image: url('/assets/d8.jpg');
  background-size: cover;
  height: 230vh;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.r{
  width:500px;
  flex: 0 0 300px;
  margin-right: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f8f3f3ce;
 
}
/* Navbar styles */
.navbar {
  background-color: #f33a1a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}
 
.navbar .logo {
  font-size: 18px;
  font-weight: bold;
}
 
.navbar .nav-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
 
.navbar .nav-links ul li {
  margin: 0 15px;
}
 
.navbar .nav-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
 
.navbar .logout-btn {
  background: white;
  color: #f33a1a;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}
 
 
.content-container {
  margin: 20px;
  padding: 20px;
  background: rgba(245, 243,243,0.6);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
 
.content-container h1 {
  color: #f33a1a;
}
 
 
 
 
 
h2{
  color: #ff3b30;
  margin-top:20px;
  font-size:2.5em;
}
 
/* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
 
  table, th, td {
    border: 1px solid #ddd;
    text-align:left;
    padding:8px;
  }
 
 
  th {
    background-color: #f44336;
    color: white;
  }
 
 tr:nth-child(even){
  background-color: #f9f9f9;
 }
 
  /* Button Styles */
  .btn-edit {
    background-color: #4caf50;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
 
  .btn-edit:hover {
    background-color: #388e3c;
  }
 
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 10px;
    }
 
    .navbar a {
      font-size: 14px;
    }
 
    .navbar .logout-button {
      font-size: 14px;
    }
 
    th, td {
      font-size: 12px;
      padding: 8px;
    }
 
    .btn-edit {
      font-size: 12px;
      padding: 6px 12px;
    }
  }