<div class="background">
    <div class="navbar">
        <div class="logo">Customer Management</div>
        <div class="nav-left">
           
            <i class="fas fa-user-tie"></i> Driver-Dashboard
        </div>
        <div class="nav-right">
            <ul>
                <li><a href="customer" routerLink="customer">Customer</a></li>
                <li><a href="route">Route</a></li>
            </ul>
            <button class="logout-btn" (click)="logout()">Logout</button>
        </div>
    </div>
 
    <!-- Table Container -->
 
    <div class="table-container">
        <h1>Customer Details</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.phone }}</td>
                </tr>
            </tbody>
        </table>
    </div>
 
    <script>
        function logout() {
            location.href = '/';
        }
    </script>
</div>
   
 
 