<div class="background">
  <div class="about-us-container">
    <h2 style="text-align: center;" >About Us</h2>
    <p>
      Welcome to the Bus Ticket Booking Portal, your go-to solution for effortless bus travel. Our platform is designed to simplify the experience of finding and booking bus tickets, catering to both travelers and bus agencies with an intuitive interface and powerful features.
    </p>
    <div class="inner-sections">
      <div class="section">
        <h3 style="text-align: center;" >Travellers</h3>
        <p>
          Searching for bus routes has never been easier. Our platform lets you explore a variety of routes, compare ticket prices, and book your tickets in just a few clicks. Whether you’re planning a quick getaway or a long-distance journey, you can find the best options tailored to your preferences, including departure times, ticket prices, and seat availability.
        </p>
       
      </div>
      <div class="section">
        <h3 style="text-align: center;">Bus Agencies</h3>
        <p>
          Our platform equips bus agencies with the essential tools to effectively manage and grow their operations. With features designed for trip scheduling, ticket bookings, and customer management, agencies can focus on providing excellent service while we handle the technical details.
        </p>
       
      </div>
    </div>
    <h3 style="text-align: center;">Our Mission</h3>
    <p>
      Our goal is to create a seamless experience for both travelers and bus agencies. By blending modern technology with user-friendly design, we aim to make bus travel more accessible, efficient, and enjoyable for everyone. Join us in transforming the way you travel!
    </p>
    <h1 style="text-align: center;"><i>Your Journey Starts with Us!!</i></h1>
  </div></div>
