<!DOCTYPE html>
<html lang="en">
 
<body>
    <!-- Navbar -->
 
    <div class="navbar">
        <div class="logo">
            Admin Dashboard
        </div>
        <div class="nav-links">
                <a href="agency" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;">Agencies</a>
                <a href="bus" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;" >Buses</a>
                <a href="admin-customer" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;">Customers</a>
                <a href="drivers" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;">Drivers</a>
                <a href="payments" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;">Payment</a>
                <a href="reviews" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;">Reviews</a>
                <a href="routes" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;">Routes</a>
                <a href="#trips" style="color: rgb(243, 237, 237); text-decoration: none; padding: 10px 15px;">Trips</a>
            <button class="logout-btn" (click)="logout()">Logout</button>
        </div>
    </div>
 
    <!-- Content Area -->
     <div class="content-container">
        <div class="image-container">
            <img src="/assets/d6.jpg" alt="Admin Image">
        </div>
        <div class="text-container" style="text-align: justify">
            <h1 style="text-align: center;">Welcome to the Admin Dashboard</h1>
            <h6 style="text-align: center;"><i>Ride Smart, Travel Far! </i></h6><br>
            <p>Manage your bus ticket booking operations efficiently and effectively. <br>
                Here you can oversee all aspects of the system, from routes and buses to bookings and customer interactions.<br>
                Thank you for being an integral part of our bus ticket booking service! <br>Your efforts help us provide seamless travel experiences to our customers.
                 </p>
        </div>
    </div>
 
    <script>
        // Logout method using Angular's Router
        function logout() {
          // Ensure the routing is handled by Angular
         
          location.href = '/'; // Adjust the path to match your Angular route
        }
      </script>
</body>
</html>