<div class="login-container">
    <h1>Customer Registration</h1>
    <form (ngSubmit)="UserRegister()">
        <div class="form-group">
            <label for="username">Enter User Name</label>
            <input type="text" id="username" [(ngModel)]="user.username" name="username" required />
        </div>
        <div class="form-group">
            <label for="password">Enter Password</label>
            <input type="password" id="password" [(ngModel)]="user.password" name="password" required />
        </div>
        <input type="submit" value="Register" />
    </form>
</div>

<div
  class="modal fade show d-block"
  *ngIf="showModal"
  style="background-color: rgba(0, 0, 0, 0.5);"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ message }}</h5>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="showModal = false"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
 
 